<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.renta_vehiculosConnectionString"
            connectionString="Data Source=Fuentes-Elmer;Initial Catalog=renta_vehiculos;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>